body {
  background-color: peachpuff;
}
.App {
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loaded {
  background-color: red;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
img {
  width: 150px;
  height: auto;

  -webkit-animation: blink 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: blink 1.5s;
  -moz-animation-iteration-count: infinite;
  -o-animation: blink 1.5s;
  -o-animation-iteration-count: infinite;
}
